<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O meni | Mesec Od Papira</title>
    <script type="text/javascript" src="js/fontawesome.js"></script>
    <script data-ad-client="ca-pub-9093274455509928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
    <style type="text/css">
        @font-face {
            font-family: 'poppins';
            src: url('/fonts/poppins/poppins-regular-webfont.woff'),
                url('/fonts/poppins/poppins-regular-webfont.woff2');
            font-style: normal;
            font-weight: 100;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body{
            overflow-x: hidden;
        }
        body{
            position: relative;
            background: #fafafa;
        }
        p{
            font-size: 15px;
            color: #505050;
        }
		a{
            cursor: pointer;
            text-decoration: none;
			font-size: inherit;
            color: inherit;
        }
        a:hover{
            color: #161616;
            transition: 0.25s;
        }
        .logo{
            display: block;
            min-height: 10px;
            text-align: center;
            letter-spacing: 5px;
            font-family: Chalkduster, fantasy;
            font-size: 18px;
            background: rgb(22, 22, 22);
            color: white;
            animation: navLoad 0.5s ease-in;
        }
        .logo img{
            cursor: pointer;
            margin-top: 5px;
            width: 100px;
            height: 100px;
            animation: navLoad 1s ease-in;
        }
        .logo h4{
            cursor: pointer;
        }
        nav{
            display: flex;
            position: relative;
            height: 50px;
            justify-content: space-around;
            align-items: center;
            font-family: Optima, sans-serif;
            border-bottom: 1px solid #dcdcdc;
		    background: #ffffff;
            animation: navLoad 0.5s ease-in;
        }
        .sticky{
            position: fixed;
            z-index: 10;
            top: 0;
            width: 100%;
        }
        .search{
            position: absolute;
            top: 12px;
            left: 70px;
            font-family: poppins, sans-serif;
        }
        .input{
            cursor: pointer;
            position: absolute;
            width: 25px;
            height: 25px;
            padding-left: 25px;
            font-size: 15px;
            letter-spacing: 1px;
            border: 1px solid #161616;
            border-radius: 50%;
            outline: none;
            background: #fafafa;
            transition: 0.25s;
        }
        .inputClicked{
            cursor: text;
            width: 20vw;
            padding-left: 5px;
            border-radius: 0;
            transition: 0.25s;
        }
        .searchBtn{
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            width: 20px;
            height: 10px;
            border: none;
            outline: none;
            background: none;
        }
        .searchBtn::before{
            position: absolute;
            top: 24px;
            right: -29px;
            width: 8px;
            height: 2px;
            content: "";
            background: #161616;
            transform: rotate(45deg);
            transition: 0.25s;
        }
        .search-results{
            cursor: pointer;
            visibility: hidden;
            position: absolute;
            top: 25px;
            width: 20vw;
            z-index: 10;
            border: 1px solid #dcdcdc;
            border-collapse: collapse;
            background: #ffffff;
            color: #505050;
            transition: 0.25s;
        }
        .search-results tr{
            height: 30px;
            border-bottom: 1px solid #dcdcdc;
        }
        .search-results tr:hover{
            background: #fafafa;
            transition: 0.25s;
        }
        .search-results a{
            display: block;
            position: relative;
            padding: 5px;
            color: #161616;
        }
        .search-results img{
            position: relative;
            width: 30px;
            height: 30px;
        }
        .close::before, .close::after{
            position: absolute;
            top: 12px;
            left: 20vw;
            width: 15px;
            height: 2px;
            content: "";
            background: #161616;
            transition: 0.25s;
        }
        .close::before{
            transform: rotate(-45deg);
        }
        .close::after{
            transform: rotate(45deg);
        }
        .links{
            display: flex;
            width: 500px;
            text-transform: uppercase;
            justify-content: space-around;
        }
        .links li{
            cursor: default;
            list-style-type: none;
            letter-spacing: 2px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            color: #161616;
        }
        .links a{
            display: block;
            text-decoration: none;
            letter-spacing: 3px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: 1px solid transparent;
            color: #161616;
        }
        .links a:hover{
            border-bottom: 1px solid #161616;
        }
        .mobile{
            display: none;
            position: relative;
            left: 26%;
            cursor: pointer;
        }
        .mobile div{
            margin: 5px;
            width: 25px;
            height: 2px;
            background: #161616;
            transition: all 0.5s ease;
        }
        .input::placeholder{
            opacity: 0;
        }
        .input:focus::placeholder{
            opacity: 1;
        }
        .wrapper{
            min-height: 500px;
            content: "";
            clear: both;
		}
        .card{
			position: relative;
            left: 50%;
			transform: translateX(-50%);
			padding: 30px;
            width: 800px;
			justify-content: center;
		    text-align: center;
            line-height: 20px;
            font-family: poppins, sans-serif;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            background: #ffffff;
            color: #161616;
			box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.20);
            animation: articleLoad 0.5s ease-in 0.5s;
            animation-fill-mode: forwards;
            opacity: 0;
            transition: 0.5s;
        }
		.avatar{
		    position: relative;
		    top: -140px;
		    left: 50%;
		    width: 225px;
		    height: 225px;
		    overflow: hidden;
		    transform: translateX(-50%);
		    text-align: center;
		    border: 1px solid #dcdcdc;
		    border-radius: 50%;	
		    transition: 0.5s;
		}
		.picture{
		    position: relative;
		    width: 225px;
		    height: 225px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    transition: 0.5s;
		}
		.title{
            color: #161616;
            letter-spacing: 1px;
		    font-family: Optima, sans-serif;
		    font-size: 28px;
		    margin-top: -100px;
            transition: 0.5s;
		}
		.subtitle{
            color: #505050;
            letter-spacing: 1px;
		    font-size: 14px;
		    text-transform: uppercase;
		    margin: 15px 0;
		}
		.body{
			margin-top: 60px;
            margin-bottom: 60px;
            line-height: 22px;
		    font-size: 16px;
		    color: #505050;
		}
        .social-media{
			position: relative;
            text-align: center;
        }
        .social-media i{
            margin: 25px;
            padding: 10px;
            width: 40px;
            text-align: center;
            font-size: 20px;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            color: #505050;
            transition: 0.25s;
        }
        .social-media i:hover{
            border: 1px solid #161616;
            color: #161616;
            transition: 0.25s;
        }
        .alert-box{
            position: fixed;
            z-index: 15;
            top: 10%;
            left: 50%;
            transform: translateY(-200%);
            width: 300px;
            height: 110px;
            font-family: poppins, sans-serif;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.20);
            transition: 0.5s;
        }
        .alert-box #title{
            position: relative;
            width: 100%;
            height: 40px;
            text-align: left;
            border-bottom: 1px solid #dcdcdc;
            color: #505050;
        }
        .alert-box #title p{
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            letter-spacing: 1px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            color: #505050;
        }
        .alert-box #title i{
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 20px;
        }
        .alert-box button{
            cursor: pointer;
            position: relative;
            display: inline;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px;
            width: 40%;
            height: 30px;
            letter-spacing: 1px;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            background: #007bf6;
            color: white;
            transition: 0.25s;
        }
        .card .message-title{
            position: relative;
            margin-bottom: 50px;
            width: 100%;
            height: 35px;
            text-align: center;
            font-family: Optima, sans-serif;
            font-size: 20px;
            border-bottom: 1px solid #dcdcdc;
        }
        .card .message-title p{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 25px;
            color: #505050;
        }
        .card .input-data{
            position: relative;
            width: 100%;
            text-align: center;
        }
        .input-data .message-name, 
        .input-data .message-email,
        .input-data .message-body{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: auto;
        }
        .input-data input{
            position: relative;
            padding: 5px;
            width: 40%;
            height: 30px;
            text-align: left;
            font-size: 18px;
            letter-spacing: 1px;
            border: none;
            border-bottom: 1px solid #dcdcdc;
            color: #505050;
            transition: all 0.5s ease;
        }
        .message-name input{
            position: absolute;
            top: 0;
            left: 0;
        }
        .message-email{
            position: absolute;
            top: 0;
            margin-left: 24%;
        }
        .input-data button{
            cursor: pointer;
            position: relative;
            width: 80%;
            height: 30px;
            letter-spacing: 1px;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            background: #007bf6;
            color: white;
            transition: 0.25s;
        }
        .input-data textarea{
            resize: none;
            padding: 10px;
            width: 100%;
            height: 100px;
			overflow: auto;
		    font-size: 18px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
			color: #505050;
            transition: all 0.5s ease;
        }
        ::placeholder{
            font-size: 15px;
            color: gray;
        }
        .input-data input:focus{
            outline: none;
            border-bottom: 1px solid #505050;
        }
        .input-data textarea:hover{
            background: #fafafa;
		    transition: 0.25s;
        }
        .input-data textarea:focus{
            outline: none;
            border: 1px solid #505050;
            background: #ffffff;
            transition: 0.25s;
        }
        .input-data label{
            cursor: text;
            position: absolute;
            left: 0;
            padding: 5px;
            font-size: 15px;
            color: gray;
        }
        .message-name label{
            top: 0;
        }
        .message-email label{
            top: 0;
            margin-left: 30%;
        }
        .message-body label{
            margin-top: 60px;
            top: 0;
            left: 2px;
        }
        input[name="name"]:focus ~ label[for="name"],
        input[name="email"]:focus ~ label[for="email"]{
            top: -25px;
        }
        textarea[name="body"]:focus ~ label[for="body"]{
            top: -25px;
        }
        .footer{
            margin-top: 100px;
            padding: 16px;
            width: 100%;
            height: 50px;
            text-align: center;
            font-family: Optima, sans-serif;
            border-top: 1px solid #dcdcdc;
            background: #ffffff;
            color: #505050;
        }
        .footer-left{
			display: flex;
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
        .footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
        @keyframes navLoad{
            0%{
                transform: translateY(-200%);
            }
            100%{
                transform: translateY(0);
            }
        }
        @keyframes headerLoad{
            0%{
                transform: translateY(-20px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes articleLoad{
            0%{
                margin-top: 125px;
                opacity: 0;
            }
            100%{
                margin-top: 150px;
                opacity: 1;
            }
        }
        @media screen and (max-width: 1024px){
            .search{
                left: 19%;
            }
            .inputClicked{
                width: 61vw;
                z-index: 10;
                transition: 0.25s;
            }
            .search-results{
                width: 61vw;
                transition: 0.25s;
            }
            .close::before, .close::after{
                left: 60vw;
                z-index: 10;
            }
            .links{
                display: flex;
                position: absolute;
                z-index: 10;
                flex-direction: column;
                top: 49px;
                right: 0px;
                left: 50%;
                height: 500px;
                border: 1px solid #dcdcdc;
                background: #ffffff;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
            }
            .links li{
                opacity: 0;
                margin-left: 60px;
            }
            .links a{
                line-height: 0;
            }
            .links a:hover{
                border: none;
            }
            .mobile{
                display: block;
            }
            .linksActive{
                transform: translateX(0%);
            }
            .card{
                width: 90%;
                transition: 0.5s;
			}
			.avatar{
		        top: -110px;
		        left: 50%;
		        width: 175px;
		        height: 175px;
		        transition: 0.5s;
		    }
		    .picture{
		        width: 175px;
		        height: 175px;
		        transition: 0.5s;
		    }
            .title{
                margin-top: -85px;
                transition: 0.5s;
            }
            .footer{
                font-size: 12px;
                height: 75px;
            }
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
            }
            .footer i{
                font-size: 15px;
            }
    		.footer-right{
                position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 300px;
    		}
        }
        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);
        }
    </style><% if(token == true){ %> 
    <style type="text/css">
        .gear{
            position: absolute;
            top: 10px;
            left: 60%;
            width: 69%;
            height: 100px;
        }
        .gear img{
            cursor: pointer;
            position: relative;
            width: 35px;
            height: 35px;
        }
        .settings{
            display: none;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            z-index: 10;
            width: 200px;
            height: 50px;
            text-align: center;
            color: #161616;
        }
        .settings button{
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 175px;
            height: 30px;
            background: #ffffff;
            border: #dcdcdc;
            border-radius: 10px;
            font-size: 20px;
            color: #161616;
            transition: 0.25s;
        }
        .settings button:hover{
            background: #dcdcdc;
            transition: 0.25s;
        }
        .blur{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            border-radius: 10px;
            background: rgba(22, 22, 22, 0.8);
        }
    </style>
    <link id="css-partial" rel="stylesheet" href=""></link><% } %>
</head>
<body>
    <div class="logo">
        <img src="logo/mop.png" onclick="window.location.href = '/'">
        <h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
    </div>
    <nav>
        <div class="search">
            <form class="searchBox" action="/pretraga" method="GET">
                <input onkeyup="searchResults()" class="input" type="text" placeholder="Pretraži..." name="q">
                <table class="search-results"></table>
                <button class="searchBtn" type="button"></button>
            </form>
        </div><% if(token == true){ %> 
        <%- include('partials/admin/_nav') %> 
        <% }else{ %> 
            <ul class="links">
                <li><a href="/">Početna</a></li>
                <li><a href="/poezija">Poezija</a></li>
                <li><a href="/o-meni">O meni</a></li>
            </ul>
<%}%><div class="mobile">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="alert-box">
            <div id="title">
                <p id="message"></p><i onclick="document.querySelector('.alert-box').style.transform = 'translate(-50%,-200%)'; document.cookie = '_sub = false';" class="fas fa-times"></i>
            </div>
            <button onclick="document.querySelector('.alert-box').style.transform = 'translate(-50%,-200%)';" style="background: #dcdcdc; color: #161616;">Zatvori</button>
        </div>
        <div class="card">
            <div class="avatar">
                <img class="picture" src="<%= data.picture %>">
            </div><% if(token == true){ %> <%- include('partials/admin/_gear') %>  <% } %> 
            <h3 class="title"><%= data.title %></h3>
            <p class="subtitle"><%= data.subtitle %></p>
            <div class="body"><%- data.body %> </div><% if(token == true){ %> <%- include('partials/admin/_settings') %>  <% } %> 
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100019338011818" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/mesec_od_papiraa/" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://rs.linkedin.com/in/kristina-kljajić-a798761b3" target="blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="message-title"><p>Stupite u kontakt</p></div>
            <div class="input-data">
                <form onsubmit="return sendMessage(event, this);" action="" method="">
                    <div class="message-name">
                        <input onkeyup="inputFilled(this, document.getElementById('label-name'));" type="text" name="name" required>
                        <label onclick="document.querySelector('.message-name').getElementsByTagName('input')[0].focus();" id="label-name" for="name">Ime</label>
                    </div>
                    <div class="message-email">
                        <input onkeyup="inputFilled(this, document.getElementById('label-email'));" type="text" name="email" required>
                        <label onclick="document.querySelector('.message-email').getElementsByTagName('input')[0].focus();" id="label-email" for="email">Imejl adresa</label>
                    </div><br>
                    <div class="message-body"><br><br><br>
                        <textarea onkeyup="inputFilled('textarea', document.getElementById('label-body'));" name="body"></textarea>
                        <label onclick="document.querySelector('.message-body').getElementsByTagName('textarea')[0].focus();" id="label-body" for="body">Vaša poruka</label>
                    </div><br>
                    <button type="submit">Pošalji</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-left">
            Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
        </div>
        <div class="footer-right">
            Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/" style="display: inherit;"><i class="fa fa-instagram"></i>velickovicdj</a>
        </div>
    </div>
    <script type="text/javascript">
        const searchBtn = document.querySelector('.searchBtn'),
        input = document.querySelector('.input'),
        mobile = document.querySelector('.mobile'),
        links = document.querySelector('.links'),
        navLinks = document.querySelectorAll('.links li');
        window.onscroll = function() {stickyNav()};

        const nav = document.querySelector('nav'),
        sticky = nav.offsetTop;

        function stickyNav() {
          if(window.pageYOffset >= sticky){
            nav.classList.add('sticky')
          }else{
            nav.classList.remove('sticky');
          }
        }
        window.addEventListener('mouseup', (event)=>{
            if(event.target == document.querySelector('.close')){
                input.value = '';
                input.focus();
                document.querySelector('.search-results').innerHTML = '';
                return;
            }
            if(event.target !== input && event.target !== document.querySelector('.close')){
                input.blur();
                if(!!document.querySelector('.close')){
                    document.querySelector('.close').click();
                    document.querySelector('.search-results').style.visibility = 'hidden';
                }		    
            }
        });
        const navSlide = ()=>{
            mobile.addEventListener('click', ()=>{
                links.classList.toggle('linksActive');
                navLinks.forEach((link, index)=>{
                    if(link.style.animation){
                        link.style.animation = '';
                    }else{
                        link.style.animation = `navLinkFade 0.5s ease forwards ${index/5 + 0.5}s`;
                    }
                });
                mobile.classList.toggle('toggle');
            });
        }
        searchBtn.addEventListener('click', ()=>{
            input.classList.toggle('inputClicked');
            searchBtn.classList.toggle('close');
        });
        input.addEventListener('focus', ()=>{
            searchBtn.click();
            document.querySelector('.search-results').style.visibility = 'visible';
        });

        async function searchResults(){
            const allSpace = arr => arr.every(val => val === ' ');
            if(allSpace(Array.from(input.value)) == false){
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({q: input.value})
                }
                await fetch('/pretraga', options).then(res => res.json()).then((res)=>{
                    document.querySelector('.search-results').innerHTML = res.results;
                });
            }else{
                document.querySelector('.search-results').innerHTML = '';
            }
        }
        function inputFilled(input, label){
			if(input.value !== ''){
				label.style.top = '-25px';
			}else{
				label.style.top = '0';
			}
        }
        async function sendMessage(e, form){
            e.preventDefault();

            const formData = new FormData(form);
            const searchParams = new URLSearchParams();

            for(const pair of formData){
                searchParams.append(pair[0], pair[1]);
            }
            fetch('/poruka', {method: 'POST', body: searchParams}).then(res => res.json()).then((res)=>{
                document.querySelector('.alert-box').style.transform = 'translate(-50%, 0)';
                document.getElementById('message').innerText = res.msg;
        });
        }
        navSlide();
    </script><% if(token == true){ %> 
    <script type="text/javascript">
        const gear = document.querySelector('.gear img'),
        settings = document.querySelector('.settings'),
        blur = document.querySelector('.blur');
        gear.addEventListener('click', ()=>{
            settings.style.display = 'block';
            blur.style.display = 'block';
        });
        window.addEventListener('mouseup', (event)=>{
            if(settings.style.display == 'block' && event.target !== settings){
                settings.style.display = 'none';
                blur.style.display = 'none';
            }
        });
        async function aboutEdit(e){
            e.preventDefault();

            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({partial: 'manage-posts/edit/_about'})
            }
        
            await fetch('/admin', options).then(res => res.json()).then((res)=>{
                document.querySelector('.card').innerHTML = res.html;
                document.getElementById('css-partial').href = res.css;
            })
        }
        let body = document.querySelector('.body');
        function executeCommand(btn){
            let cmd = btn.dataset['command'];
            if(cmd === 'createlink'){
                let url = prompt("Link: ", "http:\/\/");
                document.execCommand(cmd, false, url);
            }else{
                document.execCommand(cmd, false, null);
            }
        }
        
        let picture = document.querySelector('.picture').src;
        
        function uploadTitleImage(){
            document.getElementById('inputTitleImage').click();
        }
        function viewTitleImage(event){
            let reader = new FileReader();
            reader.onload = ()=>{
                document.querySelector('.picture').src = reader.result;
                picture = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
        async function save(){
            const title = document.querySelector('.title').value,
            subtitle = document.querySelector('.subtitle').value,
            body = document.querySelector('.body').innerHTML;
            
            const options = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newTitle: title, 
                    newSubtitle: subtitle, 
                    newBody: body, 
                    newPicture: picture
                })
            }
        
            await fetch('/admin/uredi/about', options).then(res => res.json()).then((res)=>{
                document.querySelector('.card').innerHTML = res.html;
                document.getElementById('css-partial').href = '';
            });
        }
    </script><% } %> 
</body>
</html>

