<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mesec Od Papira</title>
	<script type="text/javascript" src="js/fontawesome.js"></script>
	<script type="text/javascript" src="js/common/script.js" defer></script>
	<script data-ad-client="ca-pub-9093274455509928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
	<link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/common/style.css">
	<style type="text/css">
		.wrapper{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
			grid-auto-rows: 550px;
			min-height: 100%;
			justify-content: center;
		}
		.card{
		    position: relative;
			top: -100px;
			left: 50%;
			transform: translateX(-50%);
		    width: 450px;
			height: 500px;
		    justify-content: center;
			line-height: 20px;
			font-family: poppins, sans-serif;
		    border: 1px solid var(--border-color);
		    border-radius: 10px;
		    background: var(--card-background);
			color: #161616;
			box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0,0,0,0.20);
		    animation: articleLoad 0.5s ease-in 0.5s;
		    animation-fill-mode: forwards;
		    opacity: 0;
		    transition: all 0.5s ease-in-out;
		}
		.card:hover{
			cursor: pointer;
			top: -110px;
			box-shadow: inset -6px -6px 10px rgba(22, 22, 22, 0.02),
						 0 6px 20px rgba(0, 0, 0, 0.50);
		}
		.title{
			padding: 10px;
			color: var(--txt-color);
			letter-spacing: 1px;
			line-height: 35px;
			word-wrap: break-word;
			font-family: Optima, sans-serif;
		    font-size: 28px;
		    font-weight: 600;
		}
		.body{
		    padding: 10px;
		    width: 100%;
			height: 250px;
			line-height: 25px;
			word-wrap: break-word;
			overflow: auto;
		    font-size: 16px;
			color: var(--p-color);
		}
		.body div{
			float: left;
			margin-right: 5px;
		}
		.avatar{
		    position: relative;
			margin-bottom: 15px;
		    max-width: 100%;
			max-height: 300px;
			overflow: hidden;
		    text-align: center;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		    transition: all 0.25s ease-in-out;
		}
		.picture{
		    position: relative;
			width: 100%;
			height: 300px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		    background-repeat: no-repeat;
		    transition: all 0.25s ease-in-out;
		}
		.card i{
			position: absolute;
			bottom: 10px;
			right: 15px;
			color: var(--p-color);
		}
		.pagination{
			display: flex;
			position: absolute;
			bottom: 80px;
			left: 50%;
			transform: translateX(-50%);
		    transition: all 0.25s ease-in-out;
		}
		.pagination button{
			margin-right: 10px;
			width: 35px;
			height: 35px;
            font-size: 20px;
            border: 1px solid var(--border-color);
			border-radius: 5px;
			background: var(--card-background);
            color: var(--p-color);
		    transition: all 0.25s ease-in-out;
		}
		.pagination button:hover{
			cursor: pointer;
			background: var(--border-color);
            color: var(--txt-color);
		    transition: all 0.25s ease-in-out;
		}
		#current-page{
			cursor: default;
			border: 1px solid var(--txt-color);
			color: var(--card-background);
			background: var(--txt-color);
		}
		.footer{
            position: absolute;
            bottom: 0;
            padding: 16px;
            width: 100%;
            height: 50px;
			text-align: center;
			font-family: Optima, sans-serif;
            border-top: 1px solid var(--border-color);
            background: var(--card-background);
			color: var(--p-color);
			transition: all 0.5s ease-in-out;
        }
        .footer-left{
			display: flex;
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
		.footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
		@media screen and (max-width: 1024px){
			.card{
				flex-direction: column;
				transform: translateX(-50%);
				width: 70%;
				transition: all 0.25s ease-in-out;
		    }
			.pagination{
				bottom: 90px;
				transition: all 0.25s ease-in-out;
			}
            .footer{
                font-size: 12px;
				height: 75px;
            }
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
            }
            .footer i{
                font-size: 15px;
            }
    		.footer-right{
                position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 300px;
    		}
		}
	</style>
</head>
<body<%- mode %>>
	<div class="container">
		<div class="logo">
			<img src="logo/mop.png" onclick="window.location.href = '/'">
			<h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
		</div>
		<nav>
			<div class="search">
				<form class="searchBox" action="/pretraga" method="GET">
					<input onkeyup="searchResults()" class="input" type="text" placeholder="Pretraži..." name="q">
					<table class="search-results"></table>
					<button class="searchBtn" type="button"></button>
				</form>
			</div><% if(token == true){ %> 
			<%- include('partials/admin/_nav') %> 
			<% }else{ %> 
				<ul class="links">
					<li><a href="/">Početna</a></li>
					<li><a href="/poezija">Poezija</a></li>
					<li><a href="/o-meni">O meni</a></li>
					<li onclick="switchMode();" style="position: absolute; right: 70px"><i class="fas fa-adjust" id="dark-mode-toggle"></i></li>
				</ul> 
<%}%><div class="mobile">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
		<div class="wrapper">
			<div class="scroll-toggle" onclick="document.body.scrollIntoView({behavior: 'smooth', block: 'start'});"><i class="fas fa-chevron-up"></i></div>
			<% posts.forEach((post)=>{ %>
				<% 	function repliesCount(){ %>
					<% let cnt = 0; %>
	
					<% for(let i=0; i<post.comments.length; i++){ %>
						<% cnt += post.comments[i].replies !== undefined ? post.comments[i].replies.length>0 ? post.comments[i].replies.length : 0 : 0; %>
					<% } %>
					<% return cnt; %>
				<% } %> 
			<div class="card">
				<a href="/poezija/<%= post.slug %>">
					<div class="avatar">
						<img class="picture" src="<%- post.picture %>">
					</div>
					<h3 class="title"><%= post.title.toUpperCase() %></h3>
					<div class="body"><%- post.preview %></div>
					<i class="fas fa-comment"><%= post.comments.length + repliesCount() %></i>
				</a>
			</div>
			<% }); %>
		</div>
		<% if(previous){ %> 
			<div class="pagination">
				<a href="/?page=<%= previous.page %>"><button><i class="fas fa-chevron-left"></i></button></a>
				<% for(let i=1; i<=previous.page; i++){ %>
					<% if(i>=previous.page-1){ %>
						<a href="/?page=<%= i %>"><button><%= i %></button></a>
					<% } %>  
				<% } %>  
				<a href="/?page=<%= previous.page+1 %>"><button id="current-page" disabled><%= previous.page+1 %></button></a>
				<% if(next){ %>
					<% for(let i=next.page; i<=pageCount; i++){ %>
						<% if(i<=5){ %> 
							<a href="/?page=<%= i %>"><button><%= i %></button></a>
						<% } %> 
					<% } %>   
					<a href="/?page=<%= next.page %>"><button><i class="fas fa-chevron-right"></i></i></button></a>
				<% } %>  
			</div>
		<% }else{ %>
			<% if(next){ %> 
				<div class="pagination">
					<a href="/"><button id="current-page" disabled>1</button></a>
					<a href="/?page=<%= next.page %>"><button><%= next.page %></button></a>
					<% for(let i=next.page+1; i<=pageCount; i++){ %>
						<% if(i<=4){ %> 
							<a href="/?page=<%= i %>"><button><%= i %></button></a>
						<% } %> 
					<% } %>   
					<a href="/?page=<%= next.page %>"><button><i class="fas fa-chevron-right"></i></button></a>
				</div>
			<% } %> 
		<% } %>  
		<div class="footer">
			<div class="footer-left">
				Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
			</div>
			<div class="footer-right">
				Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/"><i class="fa fa-instagram"></i>velickovicdj</a>
			</div>
		</div>
	</div>
</body>
</html>