<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %> | Mesec Od Papira</title>
    <script type="text/javascript" src="js/fontawesome.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        body{
          font-family: Arial;
          background: #fafafa;
        }
        p{
            font-size: 15px;
            color: #505050;
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            color: #161616;
            transition: 0.25s;
        }
        .logo{
            display: block;
            min-height: 10px;
            text-align: center;
            letter-spacing: 5px;
            font-family: Chalkduster, fantasy;
            font-size: 20px;
            background: rgb(22, 22, 22);
            color: white;
            animation: navLoad 0.5s ease-in;
        }
        .logo img{
            cursor: pointer;
            margin-top: 5px;
            width: 100px;
            height: 100px;
            animation: navLoad 1s ease-in;
        }
        .logo h4{
            cursor: pointer;
        }
        nav{
            display: flex;
            position: relative;
            height: 50px;
            justify-content: space-around;
            align-items: center;
            font-family: Optima, sans-serif;
            border-bottom: 1px solid #dcdcdc;
		    background: #ffffff;
            animation: navLoad 0.5s ease-in;
        }
        .sticky{
            position: fixed;
            z-index: 10;
            top: 0;
            width: 100%;
        }
        .wrapper{
            min-height: 500px;
            content: "";
			text-align: center;
            clear: both;
        }
        .card{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            width: 69%;
            line-height: 20px;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            background: #ffffff;
            color: #161616;
			box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.20);
            animation: articleLoad 0.5s ease-in 0.5s;
            animation-fill-mode: forwards;
            opacity: 0;
            transition: 0.5s;
        }
		label[for=title]{
			display: block; 
			margin-left: -340px;
		}
		.title{
		    color: #161616;
		    font-family: Optima, sans-serif;
		    font-size: 28px;
		    font-weight: 600;
		}
		label[for=subtitle]{
			display: block; 
			font-size: 13px; 
			margin-top: 15px; 
			margin-bottom: -15px; 
		}
		.subtitle{
		    color: black;
		    font-size: 14px;
		    margin: 15px 0;
		}
		label[for=body]{
			position: absolute;
			top: 415px;
			margin-left: -15px;
		}
		.body{
		    padding: 10px;
		    width: 100%;
			height: 250px;
			overflow: auto;
		    font-size: 16px;
			color: #505050;
		}
		label[for=avatar]{
			display: block; 
		}
		.avatar{
		    position: relative;
			left: 50%;
			margin-bottom: 15px;
		    width: 200px;
		    height: 200px;
		    overflow-y: hidden;
		    overflow-x: hidden;
		    transform: translateX(-50%);
		    text-align: center;
		    border: 2px solid #dcdcdc;
		    border-radius: 10px;
			background: #fafafa;
		    transition: 0.5s;
		}
		.avatar p{
			position: absolute; 
			top: 40%; 
			left: 50%; 
			transform: translate(-50%, 40%);
		}
		.avatar:hover{
		    cursor: pointer;
			border: 2px solid #007bf6;
			background: #dcdcdc;
		    transition: 0.25s;
		}
		.picture{
		    position: relative;
		    width: 200px;
		    height: 200px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    transition: 0.5s;
		}
		.wrapper input,
		.body{
			position: relative;
		    text-align: center;
		    border: 1px solid #dcdcdc;
		    background: #fafafa;
		    transition: 0.25s;
		}
		.wrapper input:hover,
		.body:hover,
        .cancel:hover{
		    background: #dcdcdc;
		    transition: 0.25s;
		}
		.cancel:hover{
            background: #dcdcdc;
            transition: 0.25s;
        }
		.wrapper input:focus,
		.body:focus{
			background: #fafafa;
			border: 1px solid #007bf6;
			transition: 0.25s;
		}
		.tool-list{
			display: flex;
			list-style: none;
			margin-top: 20px;
			padding: 0;
			overflow: hidden;
		}	
		.tool--btn{
			display: block;
			border: none;
			padding: .5rem;
			font-size: 20px;
			background: #ffffff;
			color: #161616;
		}
		.tool--btn:hover{
			cursor: pointer;
			background: #dcdcdc;
		    transition: 0.25s;
		}
        .submit{
		    cursor: pointer;
		    position: relative;
		    width: 175px;
		    height: 30px;
		    border: none;
		    font-size: 15px;
		    background: #007bf6;
		    color: white;
		    transition: 0.25s;
		}
        .cancel{
            cursor: pointer;
            position: relative;
            margin-right: 50px;
            width: 175px;
            height: 30px;
            border: 1px solid transparent;
            font-size: 15px;
            background: #fafafa;
            color: #161616;
            transition: 0.25s;
		}
		.comments-div{
			position: relative;
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 75px;
		}
		label[for=commentsEnabled]{
			position: relative;
			top: -6px;
			width: 200px;
		}
		input[type='checkbox']{
			width: 25px;
			height: 25px;
			-webkit-appearance: none;
			background: #ffffff;
			border: 1px solid #dcdcdc;
		}
		input[type='checkbox']:hover{
			cursor: pointer;
			background: #dcdcdc;
			transition: 0.25s;
		}
		input[type='checkbox']:checked::after{
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			content: "\2713";
			font-size: 20px;
			background: #007bf6;
			color: #ffffff;
			transition: 0.25s;
		}
        table{
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #dcdcdc;
        }
		tbody{
            border-bottom: 1px solid #dcdcdc;
        }
		thead th{
            padding: 20px;
        }
		table td{
			padding: 20px;
		}
		#delete-btn{
			cursor: pointer;
		    position: relative;
		    width: 75px;
            height: 25px;
            border: none;
            font-size: 12px;
		    background: #ff2000;
		    color: white;
		    transition: 0.25s;
		}
        .footer{
            margin-top: 100px;
            padding: 20px;
            width: 100%;
            height: 50px;
            text-align: center;
            border-top: 1px solid #dcdcdc;
            background: #ffffff;
            color: #505050;
        }
        .footer-left{
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
		.footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
        @keyframes navLoad{
            0%{
                transform: translateY(-200%);
            }
            100%{
                transform: translateY(0);
            }
        }
        @keyframes headerLoad{
            0%{
                transform: translateY(-20px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes articleLoad{
            0%{
                margin-top: 125px;
                opacity: 0;
            }
            100%{
                margin-top: 150px;
                opacity: 1;
            }
        }
        @media screen and (max-width: 1024px){
    		.card{
    		    width: 90%;
    		    transition: 0.5s;
    		}
    		.card h3{
    		    margin-top: -75px;
    		}
    		.avatar{
    		    width: 150px;
    		    height: 150px;
    		    transition: 0.5s;
			}
			.avatar p{
				top: 30%;
				transform: translate(-50%, 30%);
			}
    		.picture{
    		    width: 150px;
    		    height: 150px;
    		    transition: 0.5s;
			}
			label[for=body]{
				top: 365px;
				left: 92%;
			}
			#delete-btn{
                width: 75px;
                height: 40px;
            }
			.footer{
        		height: 75px;
    		}
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 400px;
    		}
    		.footer-right{
    		    position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 400px;
    		}
        }
        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="logo/mop.png" onclick="window.location.href = '/'">
        <h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
    </div>
    <nav>
		<h3>UREDI</h3>
    </nav>
    <div class="wrapper">
		<div class="card">
			<label for="avatar">Naslovna slika</label>
			<div class="avatar" onclick="uploadTitleImage();">
				<p>Izaberi sliku</p>
				<img class="picture" src="<%= data.picture %> ">
				<input id="inputTitleImage" type="file" accept="image/*" onchange="viewTitleImage(event);" style="display: none;">
			</div>
			<label for="title">Naslov</label>
			<input type="text" class="title" value="<%= data.title %> "><br>
			<label for="subtitle">Podnaslov</label>
			<input type="text" class="subtitle" value="<%= data.subtitle %> "><br>
			<div class="toolbar">
				<ul class="tool-list">
					<li class="tool">
						<button 
							type="button" 
							data-command="bold" 
							class="tool--btn">
							<i class=' fas fa-bold'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command="italic"
							class="tool--btn">
							<i class=' fas fa-italic'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command="underline"
							class="tool--btn">
							<i class=' fas fa-underline'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command="insertOrderedList"
							class="tool--btn">
							<i class=' fas fa-list-ol'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command="insertUnorderedList"
							class="tool--btn">
							<i class=' fas fa-list-ul'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command='justifyLeft'
							class="tool--btn">
							<i class=' fas fa-align-left'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command='justifyCenter' 
							class="tool--btn">
							<i class=' fas fa-align-center'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command='justifyRight'
							class="tool--btn">
							<i class=' fas fa-align-right'></i>
						</button>
					</li>
					<li class="tool">
						<button 
							type="button" 
							data-command="createlink" 
							class="tool--btn">
							<i class=' fas fa-link'></i>
						</button>
					</li>
				</ul>
			</div>
			<label for="body">Telo</label>
			<div class="body" contenteditable="true"><%- data.body %></div>
			<div class="comments-div">
				<label for="commentsEnabled">Dozvoli komentare</label>
				<input type="checkbox" class="commentsEnabled" <% if(data.commentsEnabled == true){ %> checked="checked" <% } %> onclick="commentsStyle(this)" >
			</div><br><br>

			<% if(data.commentsEnabled == true){ %>
					<h4 class="comments-title">
						<% if(data.comments.length>0){ %>
							<% if(data.comments.length == 1){ %>
								<%= data.comments.length %> Komentar 
							<% }else{ %>
								<%= data.comments.length %> Komentara
							<% } %>   
						<% }else{ %>
							Nema komentara
						<% } %>
					</h4>
					<% if(data.comments !== undefined || array.length>0){ %>
						<table>
							<% data.comments.forEach((comment)=>{ %> 
								<thead>
									<tr><th align="left">
										<% if(comment.username == ''){ %>
											Anoniman 
										<% }else{ %>
											<%= comment.username %>
										<% } %>   
										</th><td align="right"><p style="width: 300px;"><%= comment.date %></p><br><form action="/admin/komentar/<%= [data.id, comment.id] %>?_method=DELETE" method="POST"><button id="delete-btn" type="submit">Izbriši</button></form></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><p><%= comment.comment %></p></td>
									</tr>
								</tbody>
							<% }); %> 
						</table>
					<% } %>  
			<% } %>  
			<button class="cancel" onclick="localStorage.removeItem('picture'); window.location.href='/admin/objave'">OTKAŽI</button>
			<button class="submit" onclick="save()">SAČUVAJ</button>
		</div>
    </div>
    <div class="footer">
        <div class="footer-left">
            Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
        </div>
        <div class="footer-right">
            Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/" style="display: inherit;"><i class="fa fa-instagram"></i>velickovicdj</a>
        </div>
    </div>
	<script type="text/javascript">
		window.onscroll = function() {stickyNav()};

        const nav = document.querySelector('nav'),
        sticky = nav.offsetTop;

        function stickyNav() {
          if (window.pageYOffset >= sticky) {
            nav.classList.add('sticky')
          } else {
            nav.classList.remove('sticky');
          }
        }
        let body = document.querySelector('.body');
        let buttons = document.getElementsByClassName('tool--btn');
        for(let btn of buttons){
            btn.addEventListener('click', ()=>{
                let cmd = btn.dataset['command'];
                if(cmd === 'createlink'){
                    let url = prompt("Link: ", "http:\/\/");
                    document.execCommand(cmd, false, url);
                }else{
                    document.execCommand(cmd, false, null);
                }
            })
		}

		let picture = document.querySelector('.picture').src;

        function uploadTitleImage(){
            document.getElementById('inputTitleImage').click();
        }
        function viewTitleImage(event){
            let reader = new FileReader();
            reader.onload = ()=>{
                document.querySelector('.picture').src = reader.result;
		        picture = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
		}
		function commentsStyle(cb){
			if(cb.checked == false){
				document.querySelector('table').style.display = 'none';
				document.querySelector('.comments-title').style.display = 'none';
			}else{
				document.querySelector('table').style.display = 'block';
				document.querySelector('.comments-title').style.display = 'block';
			}
		}
        function save(){
            const title = document.querySelector('.title').value,
            subtitle = document.querySelector('.subtitle').value,
			body = document.querySelector('.body').innerHTML,
			preview = document.querySelector('.body').innerText,
			commentsEnabled = document.querySelector('.commentsEnabled').checked;        
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
					newTitle: title, 
					newPreview: `${preview.slice(0, 100)}...`,  
					newSubtitle: subtitle, 
					newBody: body, 
					newPicture: picture,
					newCommentsEnabled: commentsEnabled
				})
            }
        
            fetch('/admin/uredi/<%= data.id %>?_method=PUT', options).then(res => res.json()).then((res)=>{
					window.location.href = `/poezija/${res.slug}`;
			});
        }
	</script>
</body>
</html>

