<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{csrf_token()}}"/>
    <title><%= data.title %> | Mesec Od Papira</title>
    <script type="text/javascript" src="js/fontawesome.js"></script>
    <script data-ad-client="ca-pub-9093274455509928" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
    <style type="text/css">
        @font-face {
            font-family: 'poppins';
            src: url('/fonts/poppins/poppins-regular-webfont.woff'),
                url('/fonts/poppins/poppins-regular-webfont.woff2');
            font-style: normal;
            font-weight: 100;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body{
            overflow-x: hidden;
        }
        body{
            --body-background: #fafafa;
            --nav-background: #ffffff;
            --card-background: var(--nav-background);
            --border-color: #dcdcdc;
            --txt-color: #161616;
            --p-color: #505050;
            --shadow-color: rgba(0, 0, 0, 0.20);
            position: relative;
            background: var(--body-background);
            transition: all 0.5s ease-in-out;
        }
        body.dark{
            --body-background: #161616;
            --nav-background: #000000;
            --border-color: #505050;
            --txt-color: #ffffff;
            --p-color: #fafafa;
            --shadow-color: rgba(96, 96, 96, 0.20);
        }
        p{
            font-family: poppins, sans-serif;
            font-size: 15px;
            color: var(--p-color);
        }
		a{
            cursor: pointer;
            text-decoration: none;
			font-size: inherit;
            color: inherit;
        }
        a:hover{
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .logo{
            display: block;
            min-height: 10px;
            text-align: center;
            letter-spacing: 5px;
            font-family: Chalkduster, fantasy;
            font-size: 18px;
            background: rgb(22, 22, 22);
            color: white;
            animation: navLoad 0.5s ease-in;
        }
        .logo img{
            cursor: pointer;
            margin-top: 5px;
            width: 100px;
            height: 100px;
            animation: navLoad 1s ease-in;
        }
        .logo h4{
            cursor: pointer;
        }
        nav{
            display: flex;
            position: relative;
            height: 50px;
            justify-content: space-around;
            align-items: center;
            font-family: Optima, sans-serif;
            border-bottom: 1px solid var(--border-color);
            background: var(--nav-background);
            animation: navLoad 0.5s ease-in;
            transition: all 0.5s ease-in-out;
        }
        .sticky{
            position: fixed;
            z-index: 10;
            top: 0;
            width: 100%;
        }
        #dark-mode-toggle{
            cursor: pointer;
            position: relative;
            top: 6px;
            font-size: 25px;
            transition: all 0.25s ease;
        }
        .search{
            position: absolute;
            top: 12px;
            left: 70px;
            font-family: poppins, sans-serif;
        }
        .input{
            cursor: pointer;
            position: absolute;
            width: 25px;
            height: 25px;
            padding-left: 25px;
            font-size: 15px;
            letter-spacing: 1px;
            border: 1px solid var(--txt-color);
            border-radius: 50%;
            outline: none;
            background: var(--body-background);
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .inputClicked{
            cursor: text;
            width: 20vw;
            padding-left: 5px;
            border: 1px solid var(--border-color);
            border-radius: 0;
            transition: all 0.25s ease-in-out;
        }
        .searchBtn{
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            width: 20px;
            height: 10px;
            border: none;
            outline: none;
            background: none;
        }
        .searchBtn::before{
            position: absolute;
            top: 24px;
            right: -29px;
            width: 8px;
            height: 2px;
            content: "";
            background: var(--txt-color);
            transform: rotate(45deg);
            transition: all 0.25s ease-in-out;
        }
        .search-results{
            cursor: pointer;
            visibility: hidden;
            position: absolute;
            top: 25px;
            width: 20vw;
            z-index: 10;
            border: 1px solid var(--border-color);
            border-collapse: collapse;
            background: var(--card-background);
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        .search-results tr{
            height: 30px;
            border-bottom: 1px solid var(--border-color);
        }
        .search-results tr:hover{
            background: var(--body-background);
            transition: all 0.25s ease-in-out;
        }
        .search-results a{
            display: block;
            position: relative;
            left: 0;
            padding: 5px;
            color: var(--p-color);
        }
        .search-results img{
            position: relative;
            width: 30px;
            height: 30px;
        }
        .close::before, .close::after{
            position: absolute;
            top: 12px;
            left: 20vw;
            width: 15px;
            height: 2px;
            content: "";
            background: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .close::before{
            transform: rotate(-45deg);
        }
        .close::after{
            transform: rotate(45deg);
        }
        .links{
            display: flex;
            width: 500px;
            text-transform: uppercase;
            justify-content: space-around;
        }
        .links li{
            cursor: default;
            list-style-type: none;
            letter-spacing: 2px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            color: var(--txt-color);
        }
        .links a{
            display: block;
            text-decoration: none;
            letter-spacing: 3px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: 1px solid transparent;
            color: var(--txt-color);
        }
        .links a:hover{
            border-bottom: 1px solid var(--txt-color);
        }
        .mobile{
            display: none;
            position: relative;
            left: 26%;
            cursor: pointer;
        }
        .mobile div{
            margin: 5px;
            width: 25px;
            height: 2px;
            background: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .input::placeholder{
            opacity: 0;
        }
        .input:focus::placeholder{
            opacity: 1;
        }
        .wrapper{
            min-height: 500px;
            content: "";
            clear: both;
        }
        .card{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            width: 800px;
            line-height: 20px;
            font-family: Arial, Helvetica, sans-serif;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            background: var(--card-background);
            color: var(--txt-color);
			box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
            animation: articleLoad 0.5s ease-in 0.5s;
            animation-fill-mode: forwards;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
        .avatar{
		    position: absolute;
            top: 0;
            left: 0;
		    width: 100%;
            max-height: 500px;
		    overflow-y: scroll;
		    overflow-x: hidden;
		    text-align: center;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
            transition: all 0.25s ease-in-out;
		}
        .picture{
            width: inherit;
            height: 500px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		    background-repeat: no-repeat;
            transition: all 0.25s ease-in-out;
		}
        .title{
            padding: 20px;
            padding-left: 40px;
            letter-spacing: 1px;
            line-height: 35px;
            color: var(--txt-color);
            font-family: Optima, sans-serif;
            font-size: 28px;
        }
        .subtitle{
            padding-left: 40px;
            color: var(--p-color);
            letter-spacing: 1px;
		    font-size: 18px;
        }
        .date{
            padding-left: 40px;
            color: var(--p-color);
            font-family: poppins, sans-serif;
            font-size: 14px;
            margin: 15px 0;
        }
        .body{
            padding: 40px;
            padding-top: 20px;
            line-height: 22px;
            font-family: poppins, sans-serif;
            font-size: 16px;
            word-wrap: break-word;
            color: var(--p-color);
        }
        .body > *[style]{
            background: transparent !important;
        }
        .card .comments-title{
            padding: 20px;
            text-align: center;
            font-size: 20px;
            color: var(--p-color);
        }
        #comment{
            max-width: 500px;
            word-wrap: break-word;
        }
        #reply{
            width: 300px;
            word-wrap: break-word;
        }
        #add-comment{
            display: none; 
            padding-top: 20px; 
            text-align: center;
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        #add-comment:hover{
            cursor: pointer; 
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .show-hide-replies{
            position: relative;
            top: 15px;
            font-size: 15px;
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        .show-hide-replies:hover{
            cursor: pointer;
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .show-hide-icon{
            margin-left: 10px;
            font-size: 10px;
        }
        .card textarea{
            resize: none;
            padding: 10px;
            width: 100%;
            height: 100px;
			overflow: auto;
            font-size: 16px;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            background: var(--card-background);
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        ::placeholder{
            font-size: 13px;
        }
        .card textarea:hover{
            background: var(--body-background);
            color: var(--text-color);
            transition: all 0.25s ease-in-out;
        }
        .card textarea:focus{
            outline: none;
            border: 1px solid var(--p-color);
            background: var(--body-background);
			transition: 0.25s;
        }
        .type{
			position: relative;
            top: -22px;
			left: 175px;
			margin-bottom: 25px;
			transform: translateX(-50%);
			width: 100px;
            height: 25px;
            overflow: hidden;
            border: 1px solid var(--border-color);
            transition: all 0.25s ease-in-out;
		}
		.type:hover{
            background: var(--body-background);
            transition: all 0.25s ease-in-out;
		}
		.type::after{
			cursor: pointer;
			pointer-events: none;
			position: absolute;
			top: 0;
			right: 0;
			width: 15px;
			padding: 2px;
			content: '\25BC';
            font-size: 10px;
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
		}
        .card input{
            display: none;
            position: absolute;
            margin-top: -22px;
            left: 275px;
            width: 100px;
            height: 25px;
            text-align: center;
            font-size: 13px;
            border: none;
            border-bottom: 1px solid var(--border-color);
            background: transparent;
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .card input:focus{
            outline: none;
            border-bottom: 1px solid var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        select{
			cursor: pointer;
			padding-left: 15px;
			width: inherit;
            height: inherit;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			font-size: 13px;
			outline: 0;
			border: 0!important;
			box-shadow: none;
			background: none;
            background-image: none;
            color: var(--txt-color);
		}
		select::-ms-expand{
			display: none;
		}
        .card button{
            cursor: pointer;
		    position: relative;
            top: -22px;
		    width: 100px;
            height: 30px;
            letter-spacing: 1px;
            border: none;
            font-size: 14px;
		    background: #007bf6;
		    color: white;
            transition: all 0.25s ease-in-out;
        }
        .reply-button{
            cursor: pointer;
            padding: 4px;
            padding-left: 10px;
            width: 85px;
            height: 30px;
            letter-spacing: 1px;
            border: 1px solid transparent;
            font-family: Optima, sans-serif;
            font-size: 14px;
            background: var(--border-color);
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .card table{
            position: relative;
            width: 100%;
            border-collapse: collapse;
        }
        .card thead{
            border-top: 1px solid var(--border-color);
        }
        .card thead th{
            padding: 20px;
        }
        .card tbody td{
            padding: 20px;
        }
        .social-media{
            position: relative;
            text-align: center;
        }
        .social-media i{
            margin: 25px;
            padding: 10px;
            width: 40px;
            text-align: center;
            font-size: 20px;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        .social-media i:hover{
            border: 1px solid var(--txt-color);
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .subscribe-box{
            position: fixed;
            z-index: 15;
            bottom: 10px;
            left: 10px;
            width: 400px;
            height: 220px;
            transform: translateX(-200%);
            font-family: poppins, sans-serif;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            background: var(--card-background);
            box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
            transition: all 0.5s ease-in-out;
        }
        .subscribe-box .title{
            position: relative;
            margin-bottom: 15px;
            width: 100%;
            height: 50px;
            text-align: left;
            border-bottom: 1px solid var(--border-color);
            color: var(--p-color);
        }
        .subscribe-box .title p{
            position: absolute;
            top: 8px;
            left: 10%;
            letter-spacing: 1px;
            font-family: Optima, sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: var(--p-color);
        }
        .subscribe-box .title i{
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 20px;
        }
        .input-data p{
            position: relative;
            top: 0;
            left: 10%;
            margin-bottom: 15px;
            font-size: 14px;
        }
        .input-data .email{
            position: relative;
            width: 100%;
        }
        .input-data input{
            position: absolute;
            top: 20px;
            left: 10%;
            right: 10%;
            padding: 5px;
            width: 80%;
            height: 30px;
            text-align: left;
            font-size: 15px;
            letter-spacing: 1px;
            border: none;
            border-bottom: 1px solid var(--border-color);
            background: transparent;
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        .input-data input:focus{
            outline: none;
            color: var(--p-color);
        }
        .input-data label{
            cursor: text;
            position: absolute;
            margin-top: 20px;
            left: 10%;
            padding: 5px;
            font-size: 13px;
            color: gray;
        }
        .email label{
            top: 0;
        }
        input[name="email"]:focus ~ label[for="email"]{
            top: -20px;
        }
        .subscribe-box button{
            cursor: pointer;
            position: relative;
            bottom: 10px;
            left: 10%;
            right: 10%;
            padding: 5px;
            width: 80%;
            height: 30px;
            letter-spacing: 1px;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            background: #007bf6;
            color: #ffffff;
            transition: all 0.25s ease-in-out;
        }
        .subscribe-box #error-email{
            display: none;
            position: absolute;
            bottom: 50px;
            left: 10%;
            right: 10%;
            width: 80%;
            font-size: 13px;
            color: red;
            transition: all 0.25s ease-in-out;
        }
        .subscribe-box #error-email-label{
            position: absolute;
            bottom: -5px;
            left: 5%;
            right: 10%;
            width: 80%;
            font-size: 13px;
            color: inherit;
        }
        .scroll-toggle{
            cursor: pointer;
            display: flex;
            position: absolute;
            bottom: 70px;
            right: 40px;
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--border-color);
            border-radius: 50%;
            background: var(--card-background);
            box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
        }
        .scroll-toggle i{
            position: relative;
            font-size: 25px;
            color: var(--p-color);
            transition: all 0.25s ease-in-out;
        }
        .scroll-toggle:hover{
            transform: translateY(-3px);
            transition: all 0.25s ease-in-out;
        }
        .footer{
            margin-top: 100px;
            padding: 16px;
            width: 100%;
            height: 50px;
            text-align: center;
            font-family: Optima, sans-serif;
            border: 1px solid var(--border-color);
            background: var(--card-background);
            color: var(--p-color);
        }
        .footer-left{
			display: flex;
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
        .footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
        @keyframes navLoad{
            0%{
                transform: translateY(-200%);
            }
            100%{
                transform: translateY(0);
            }
        }
        @keyframes headerLoad{
            0%{
                transform: translateY(-20px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes articleLoad{
            0%{
                margin-top: 125px;
                opacity: 0;
            }
            100%{
                margin-top: 150px;
                opacity: 1;
            }
        }
        @media screen and (max-width: 1024px){
            .search{
                left: 19%;
            }
            .inputClicked{
                width: 61vw;
                z-index: 10;
                transition: all 0.25s ease-in-out;
            }
            .search-results{
                width: 61vw;
                transition: all 0.25s ease-in-out;
            }
            .close::before, .close::after{
                left: 60vw;
                z-index: 10;
            }
            .links{
                display: flex;
                position: absolute;
                z-index: 10;
                flex-direction: column;
                top: 49px;
                right: 0px;
                left: 50%;
                height: 500px;
                border: 1px solid var(--border-color);
                background: var(--card-background);
                transform: translateX(100%);
                transition: all 0.25s ease-in-out;
            }
            .links li{
                opacity: 0;
                margin-left: 60px;
            }
            .links a{
                line-height: 0;
            }
            .links a:hover{
                border: none;
            }
            .mobile{
                display: block;
            }
            .linksActive{
                transform: translateX(0%);
            }
            .card{
                width: 90%;
                transition: all 0.25s ease-in-out;
            }
            .title{
                padding-left: 10px;
            }
            .subtitle{
                padding-left: 10px;
            }
            .date{
                padding-left: 10px;
            }
            .body{
                padding: 10px;
            }
            .avatar{
                overflow-y: hidden;
            }
            .picture{
                min-height: 500px;
            }
            thead th{
                padding-right: 0;
            }
            #commentDate{
                width: 75px;
                text-align: center;
                font-size: 10px;
            }
            #comment{
				max-width: 175px; 
			}
            .type{
                width: 100px;
                font-size: 14px;
            }
            #reply{
                width: 225px;
            }
            #com-username{
                margin: 28px;
                margin-left: -130px;
                width: 155px;
                height: 30px;
            }
            .rep-username{
                margin-top: -28px;
                width: 155px;
                height: 30px;
            }
            .subscribe-box{
                display: none;
            }
            .scroll-toggle{
                display: none;
            }
            #dark-mode-toggle{
                display: none;
            }
            .footer{
                font-size: 12px;
                height: 75px;
            }
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
            }
            .footer i{
                font-size: 15px;
            }
    		.footer-right{
                position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 300px;
    		}
        }
        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="logo/mop.png" onclick="window.location.href = '/'">
        <h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
    </div>
    <nav>
        <div class="search">
            <form class="searchBox" action="/pretraga" method="GET">
                <input onkeyup="searchResults()" class="input" type="text" placeholder="Pretraži..." name="q">
                <table class="search-results"></table>
                <button class="searchBtn" type="button"></button>
            </form>
        </div><% if(token == true){ %> 
        <%- include('../partials/admin/_nav') %> 
        <% }else{ %> 
            <ul class="links">
                <li><a href="/">Početna</a></li>
                <li><a href="/poezija">Poezija</a></li>
                <li><a href="/o-meni">O meni</a></li>
                <li onclick="document.body.classList.toggle('dark');" style="position: absolute; right: 70px"><i class="fas fa-adjust" id="dark-mode-toggle"></i></li>
            </ul>
<%}%><div class="mobile">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="wrapper">
        <% if(sub == false && token == false){ %>
            <%- include('../partials/show/subscribe/_subscribe') %> 
        <% } %>  
        <div class="scroll-toggle" onclick="document.body.scrollIntoView({behavior: 'smooth', block: 'start'});"><i class="fas fa-chevron-up"></i></div>
        <div class="card">
            <div class="avatar">
                <img class="picture" src="<%= data.picture %>">
            </div><% if(!!data.picture){ %><h3 class="title" style="margin-top: 490px;"><%= data.title %></h3><% }else{ %> 
            <h3 class="title"><%= data.title %></h3><% } %>  
            <p class="subtitle"><%= data.subtitle %></p>
            <p class="date"><i class="far fa-calendar" style="margin-right: 5px;"></i><%= data.date %></p>
            <div class="body"><%- data.body %> </div>
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100019338011818" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/mesec_od_papiraa/" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://rs.linkedin.com/in/kristina-kljajić-a798761b3" target="blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <% if(data.commentsEnabled == true){ %>
            <div class="card">
                <h4 class="comments-title">
                    <% if(data.comments.length>0){ %>
                        <% if(data.comments.length + repliesCount() !== 11 && (((data.comments.length + repliesCount()) % 10).toString()).includes("1")){ %>
                            <%= data.comments.length + repliesCount() %> komentar 
                        <% }else{ %>
                            <%= data.comments.length + repliesCount() %> komentara
                        <% } %>   
                    <% }else{ %>
                        Nema komentara
                    <% } %>
                </h4>
                <% if(data.comments !== undefined || array.length>0){ %>
                    <table id="comments-partial">
                        <% for(let i=0; i<data.comments.length; i++){ %>
                            <thead>
                                <tr><th id="commentName" align="left">
                                    <% if(data.comments[i].type == 'admin'){ %>
                                        <img src="logo/img.png" style="position: absolute; margin-top: -1px; margin-left: -30px; width: 20px; height: 20px;">Kristina Kljajić
                                    <% }else{ %> 
                                        <% if(data.comments[i].username == ''){ %>
                                            Anoniman 
                                        <% }else{ %>
                                            <%= data.comments[i].username %>
                                        <% } %>  
                                    <% } %> 
                                    </th><td align="right"><p id="commentDate"><%= data.comments[i].date %></p></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><p id="comment"><%= data.comments[i].comment %></p><br><p class="reply-button id<%= i %>" id="<%= i %>" onclick="revealCommentReply(this)">Odgovori</p>
                                        <form onsubmit="return submitReply(event, this, '<%= i %>', '<%= data.comments[i].replies == undefined ? 0 : data.comments[i].replies.length %>')" class="reply-box id<%= i %>" action="/odgovor/<%= data.slug %>?_method=PUT" method="POST" style="display: none;">
                                            <textarea class="reply-box-textarea" name="reply" placeholder="Dodaj komentar" maxlength="500"></textarea><br><br>
                                            <% if(!token){ %> 
                                            <p style="font-family: Optima, sans-serif;">Komentariši kao: </p><% } %> <input class="rep-username" id="rep-username_<%= i %>" type="text" name="username" placeholder="Ime" maxlength="20">
                                            <input type="hidden" name="commentId" value="<%= i %>">
                                            <input type="hidden" name="token" value="<%= token %>">
                                            <% if(!token){ %> 
                                            <div class="type">
                                                <select onchange="revealReplyInputUser(this.options[this.selectedIndex].value, '<%= i %>')" name="user">
                                                    <option value="anonymous">Anonimno</option>
                                                    <option value="name">Ime</option>
                                                </select>
                                            </div>
                                            <% } %> 
                                            <button type="submit">Odgovori</button>
                                        </form>
                                        <div class="replies-title id<%= i %>">
                                        <% if(data.comments[i].replies !== undefined && data.comments[i].replies.length>0){ %>
                                            <% if(data.comments[i].replies.length>1){ %>
                                                <% if(data.comments[i].replies.length !== 11 && ((data.comments[i].replies.length % 10).toString()).includes("1")){ %> 
                                                    <h3 class="show-hide-replies id<%= i %>" onclick="showReplies('<%= i %>', '<%= data.comments[i].replies.length %>')">Prikaži <%= data.comments[i].replies.length %> odgovor <span class="show-hide-icon">&#9660;</span></h3>
                                                <% }else{ %> 
                                                <h3 class="show-hide-replies id<%= i %>" onclick="showReplies('<%= i %>', '<%= data.comments[i].replies.length %>')">Prikaži <%= data.comments[i].replies.length %> odgovora <span class="show-hide-icon">&#9660;</span></h3>
                                                <% } %> 
                                            <% } else{ %>
                                                <h3 class="show-hide-replies id<%= i %>" onclick="showReplies('<%= i %>', '<%= data.comments[i].replies.length %>')">Prikaži odgovor <span class="show-hide-icon">&#9660;</span></h3>
                                            <% } %>  
                                            </div>
                                            <tbody class="replies-partial id<%= i %>" style="display: none; float: right; margin: 0 auto; width: 90%;">
                                                <% for(let j=0; j<data.comments[i].replies.length; j++){ %>
                                                    <tr id="reply_<%= i %>_<%= j %>" style="font-size: 15px;"><th align="left">
                                                        <% if(data.comments[i].replies[j].type == 'admin'){ %>
                                                            <img src="logo/img.png" style="position: absolute; margin-top: -1px; margin-left: -30px; width: 20px; height: 20px;">Kristina Kljajić
                                                        <% }else{ %> 
                                                            <% if(data.comments[i].replies[j].username == ''){ %>
                                                                Anoniman 
                                                            <% }else{ %>
                                                                <%= data.comments[i].replies[j].username %>
                                                            <% } %>  
                                                        <% } %>  
                                                        </th><td align="right" style="width: 150px;"><p id="commentDate"><%= data.comments[i].replies[j].date %></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left"><p id="reply"><%= data.comments[i].replies[j].reply %></p></td>
                                                    </tr> 
                                                <% } %>
                                            </tbody>
                                            <% }else{ %>
                                                <h3 class="show-hide-replies id<%= i %>" onclick="showReplies('<%= i %>', '<%= data.comments[i].replies == undefined ? 0 : data.comments[i].replies.length %>')"></h3>
                            
                                                <tbody class="replies-partial id<%= i %>" style="display: none; float: right; margin: 0 auto; width: 90%;">
                                                </tbody>
                                            <% } %>
                                    </td>
                                </tr>
                            </tbody>
                        <% } %>
                    </table>
                <% } %>  
                <h3 id="add-comment">Dodaj komentar</h3>
                <form class="comment-box" action="/komentar/<%= data.slug %>?_method=PUT" method="POST">
                    <textarea class="comment-box-textarea" name="comment" placeholder="Dodaj komentar" maxlength="500"></textarea><br><br>
                    <% if(!token){ %> 
                    <p style="font-family: Optima, sans-serif;">Komentariši kao: </p><% } %> <input id="com-username" type="text" name="username" placeholder="Ime" maxlength="20">
                    <input type="hidden" name="token" value="<%= token %>">
                    <% if(!token){ %> 
                    <div class="type">
                        <select onchange="revealCommentInputUser(this.options[this.selectedIndex].value)" name="user">
                            <option value="anonymous">Anonimno</option>
                            <option value="name">Ime</option>
                        </select>
                    </div>
                    <% } %> 
                    <button type="submit">Objavi</button>
                </form>
            </div>
        <% }else{ %>
            <div class="card">
                <h4 class="comments-title">Komentari su onemogućeni za ovu objavu.</h4>
            </div>
        <% } %>
    </div>
    <div class="footer">
        <div class="footer-left">
            Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
        </div>
        <div class="footer-right">
            Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/" style="display: inherit;"><i class="fa fa-instagram"></i>velickovicdj</a>
        </div>
    </div>
    <script type="text/javascript">
        const searchBtn = document.querySelector('.searchBtn'),
        input = document.querySelector('.input'),
        mobile = document.querySelector('.mobile'),
        links = document.querySelector('.links'),
        navLinks = document.querySelectorAll('.links li');

        const title = document.querySelector('.title'),
        picture = document.querySelector('.picture').src;

        const comBox = document.querySelector('.comment-box');
        comBox.addEventListener('submit', async function(e){
            e.preventDefault();

            const formData = new FormData(this);
            const searchParams = new URLSearchParams();

            for(const pair of formData){
                searchParams.append(pair[0], pair[1])
            }

            if(document.querySelector('.comment-box-textarea').value !== ''){
                await fetch('/komentar/<%= data.slug %>', {
                    method: 'PUT',
                    body: searchParams
                }).then(res => res.json()).then((res)=>{
                    document.getElementById('comments-partial').innerHTML += res.partial;
                    document.querySelector('.comments-title').innerHTML = res.comCount;
                    document.querySelector('.comment-box-textarea').value = '';
                });
            }
        });

        async function submitReply(e, form, id, cnt){
            e.preventDefault();

            const formData = new FormData(form);
            const searchParams = new URLSearchParams();

            for(const pair of formData){
                searchParams.append(pair[0], pair[1]);
            }

            await fetch('/odgovor/<%= data.slug %>', {
                method: 'PUT',
                body: searchParams
            }).then(res => res.json()).then((res)=>{
                document.querySelector(`.replies-partial.id${id}`).innerHTML += res.partial;
                document.querySelector(`.replies-title.id${id}`).innerHTML = res.repCount;
                document.querySelector('.comments-title').innerHTML = res.comCount;
                document.querySelector('.reply-box-textarea').value = '';
                form.style.display = 'none';
                document.querySelector(`.reply-button.id${id}`).style.display = '';
                if(document.querySelector(`.replies-partial.id${id}`).style.display == 'none'){
                    document.querySelector(`.show-hide-replies.id${id}`).click();
                    document.getElementById(`reply_${id}_${res.lastReply}`).scrollIntoView();
                }else{
                    document.querySelector(`.show-hide-replies.id${id}`).click();
                    document.querySelector(`.show-hide-replies.id${id}`).click();
                    document.getElementById(`reply_${id}_${res.lastReply}`).scrollIntoView();
                }
            });
        }

        window.onscroll = function() {stickyNav()};

        const nav = document.querySelector('nav'),
        sticky = nav.offsetTop;
    
        function stickyNav() {
            if(window.pageYOffset >= sticky){
                nav.classList.add('sticky');
                if(document.cookie.indexOf('_sub')<0){
                    if(document.querySelector('.subscribe-box') !== null) document.querySelector('.subscribe-box').style.transform = 'translateX(0)';
                }
            }else{
                nav.classList.remove('sticky');
            }
        }
        window.addEventListener('mouseup', (event)=>{
            let replyBoxes = document.getElementsByClassName('reply-box');
 
            for(let i=0; i<replyBoxes.length; i++){
                if(event.target !== replyBoxes[i] && event.target !== replyBoxes[i].querySelector('.reply-box-textarea') 
                && event.target !== replyBoxes[i].querySelector('.rep-username') && event.target != replyBoxes[i].querySelector('select')){
                    replyBoxes[i].style.display = 'none';
                    if(document.querySelector(`.reply-button.id${i}`).style.display == 'none'){
                        document.querySelector(`.reply-button.id${i}`).style.display = 'block';
                        break;
                    }
                }
            }
            if(event.target == document.querySelector('.close')){
                input.value = '';
                input.focus();
                document.querySelector('.search-results').innerHTML = '';
                return;
            }
            if(event.target !== input && event.target !== document.querySelector('.close')){
                input.blur();
                if(!!document.querySelector('.close')){
                    document.querySelector('.close').click();
                    document.querySelector('.search-results').style.visibility = 'hidden';
                }		    
            }
        });
        const navSlide = ()=>{
            mobile.addEventListener('click', ()=>{
                links.classList.toggle('linksActive');
                navLinks.forEach((link, index)=>{
                    if(link.style.animation){
                        link.style.animation = '';
                    }else{
                        link.style.animation = `navLinkFade 0.5s ease forwards ${index/5 + 0.5}s`;
                    }
                });
                mobile.classList.toggle('toggle');
            });
        }
        searchBtn.addEventListener('click', ()=>{
            input.classList.toggle('inputClicked');
            searchBtn.classList.toggle('close');
        });
        input.addEventListener('focus', ()=>{
            searchBtn.click();
            document.querySelector('.search-results').style.visibility = 'visible';
        });
        async function searchResults(){
            const allSpace = arr => arr.every(val => val === ' ');
            if(allSpace(Array.from(input.value)) == false){
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({q: input.value})
                }
                await fetch('/pretraga', options).then(res => res.json()).then((res)=>{
                    document.querySelector('.search-results').innerHTML = res.results;
                });
            }else{
                document.querySelector('.search-results').innerHTML = '';
            }
        }
        function revealCommentInputUser(value){
            if(value == 'name'){
                document.getElementById('com-username').style.display = 'block';
            }else{
                document.getElementById('com-username').value = '';
                document.getElementById('com-username').style.display = 'none';
            }
        }
        function inputFilled(input, label){
			if(input.value !== ''){
				label.style.top = '-20px';
			}else{
				label.style.top = '0';
			}
        }
        async function signUpNotifications(e, form){
            e.preventDefault();

            const formData = new FormData(form);
            const searchParams = new URLSearchParams();

			for(const pair of formData){
                searchParams.append(pair[0], pair[1]);
            }
            
            await fetch('/prijava-na-obavestenja', {
                method: 'PUT',
                body: searchParams
            }).then(res => res.json()).then((res)=>{
                if(res.error){
                    document.getElementById('error-email').style.display = 'block';
                    document.getElementById('error-email-label').innerText = res.error.msg;
                }else{
                    document.querySelector('.subscribe-box').innerHTML = res.html;
                    document.querySelector('.subscribe-box').style.width = '280px';
                    document.querySelector('.subscribe-box').style.height = '50px';
                    document.cookie = res.cookie;
                    setTimeout(()=>{
                        document.querySelector('.subscribe-box').style.transform = 'translateX(-200%)';
                    }, 2500)
                }
            });
        }
        function revealReplyInputUser(value, index){
            if(value == 'name'){
                document.getElementById(`rep-username_${index}`).style.display = 'block';
            }else{
                document.getElementById(`rep-username_${index}`).value = '';
                document.getElementById(`rep-username_${index}`).style.display = 'none';
            }
        }
        function revealCommentReply(pos){
            if(comBox.style.display = 'block'){
                comBox.style.display = 'none';
                document.getElementById('add-comment').style.display = 'block';
            }

            document.querySelector(`.reply-button.id${pos.id}`).style.display = 'none';
            document.querySelector(`.reply-box.id${pos.id}`).style.display = 'block';

            document.getElementById('add-comment').addEventListener('click', ()=>{
                document.querySelector(`.reply-box.id${pos.id}`).style.display = 'none';
                pos.style.display = 'block';

                document.getElementById('add-comment').style.display = 'none';
                comBox.style.display = 'block';
            });    
        }
        function showReplies(id, cnt){
            if(document.querySelector(`.replies-partial.id${id}`).style.display == 'none'){
                document.querySelector(`.replies-partial.id${id}`).style.display = '';
                if(cnt>1){
                    document.querySelector(`.show-hide-replies.id${id}`).innerHTML = `Sakrij ${cnt} odgovora <span class="show-hide-icon">\u25B2</span>`;
                }else{
                    document.querySelector(`.show-hide-replies.id${id}`).innerHTML = 'Sakrij odgovor <span class="show-hide-icon">\u25B2</span>'
                }
            }else{
                document.querySelector(`.replies-partial.id${id}`).style.display = 'none';
                if(cnt>1){
                    document.querySelector(`.show-hide-replies.id${id}`).innerHTML = `Prikaži ${cnt} odgovora <span class="show-hide-icon">\u25BC</span>`;
                }else{
                    document.querySelector(`.show-hide-replies.id${id}`).innerHTML = 'Prikaži odgovor <span class="show-hide-icon">\u25BC</span>'
                }
            }
        }
        navSlide();
    </script>
</body>
</html>

